.Navigation {
    display: flex;
    justify-content: center;
    gap: 0px;
    border: 1px solid #000;
    border-radius: 4em;
    width: max-content;
    margin: auto;
    margin-top: 50px;
}

.Navigation a {
    padding: 10px 50px;
    text-decoration: none;
    color: #000;
}

.Navigation a:hover {
    background: #eee;
    color: #49f;
    border-color: #49f;
}