.Navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--main-color-01);
}

.Navigation div{
    display: flex;
    flex-direction: column;
}

.Navigation .open-close-btn {
    background: none;
    border: none;
    height: 50px;
    padding: 0 20px;
    color: var(--text-color-02);
}

.Navigation div a {
    padding: 20px;
    text-decoration: none;
    color: var(--text-color-02);
}

.Navigation div a:hover {
    background: var(--main-color-02);
}

.Navigation .open {
    display: flex;
}

.Navigation .close {
    display: none;
}

@media only screen and (min-width: 600px) {

    .Navigation .open-close-btn {
        display: none;
    }

    .Navigation div, .Navigation .close {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .Navigation div a {
        display: flex;
        align-items: center;
        height: 50px;
    }
  }