#contact {
    background: var(--main-brown-01);
    padding: 20px;
    position: relative;
    padding-top: 70px;
    min-height: calc(100dvh + 100px);

    .images-1, .star, .frame {
        display: none;
    }

    header {
        color: var(--main-green-01);
        text-align: center;
        font-size: 2em;

        h2 {
            font-family: 'Edwardian', cursive;
            font-weight: 400;

            b {
                font-family:'Times New Roman', Times, serif;
            }
        }
    }

    h3 {
        color: var(--main-green-01);
    }

    p {
        color: #fff;
    }

    .links {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 30px 0;

        a {
            text-decoration: none;
            color: var(--main-green-01);
        }
    }

    .images-2 {
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

@media screen and (min-width: 900px) {
    #contact {
        padding: 100px 0;
        padding-bottom: 0;
        min-height: 100dvh;
        display: grid;
        grid-template-columns: 1fr 450px 1fr;

        .images-1 {
            display: block;
            position: relative;

            .sarah-1 {
                width: 150px;
                position: absolute;
                left: 300px;
            }

            .feet {
                position: absolute;
                top: 220px;
                width: 320px;
                height: 150px;
                left: 150px;
            }

            .flower {
                position: absolute;
                width: 250px;
                left: 50px;
                top: 50px;
                rotate: -5deg;
            }

            .disc {
                width: 200px;
                height: 200px;
                position: absolute;
                top: 380px;
                left: 70px;
            }

            .flowers {
                position: absolute;
                width: 120px;
                top: 390px;
                left: 300px;
            }

            .phone {
                position: absolute;
                top: 600px;
                width: 500px;
            }

            .plant {
                position: absolute;
                top: 600px;
                width: 120px;
                left: 100px;
            }
        }

        .sec-2 {
            position: relative;

            p {
                position: absolute;
                top: 75px;
                padding: 80px;
                font-size: 1em;
                color: var(--main-brown-01);
            }
    
            .frame {
                display: block;
                position: absolute;
                width: 100%;
                top: 10%;
                background: var(--main-beige-01);
            }

            .links {
                position: absolute;
                flex-direction: column;
                top: 500px;
                width: 100%;

                a {
                    font-size: 2.5vh;
                }

                a:hover {
                    color: #fff;
                }

                a:nth-child(1) {
                    padding-left: 75px;
                }

                a:nth-child(2) {
                    padding-left: 50px;
                }

                a:nth-child(3) {
                    padding-left: 25px;
                }

                .planets {
                    position: absolute;
                    width: 200px;
                    top: 80px;
                    right: 100px;
                }
            }
        }

        .sec-3 {
            position: relative;
            padding: 0 50px;
            padding-top: 200px;

            h3 {
                font-size: 2em;
            }

            h3, p {
                padding: 0 50px;
            }

            .bear {
                position: absolute;
                bottom: 0;
                width: 250px;
            }

            .flowers-blue {
                position: absolute;
                width: 300px;
                right: 0;
                bottom: 0;
            }
        }

        header {
            position: absolute;
            right: 15%;
            top: 100px;

            font-size: 3em;

            .star {
                display: block;
                position: absolute;
                right: -130px;
                bottom: -120px;
                width: 200px;
            }
        }

    }
}