#creativestudio {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 50px;
    padding-top: 100px;
    min-height: 100dvh;
}

#creativestudio header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
    .hand {
        position: absolute;
        top: 70px;
        rotate: 60deg;
        width: 200px;
        left: 0;
        transform: translateY(10%);
        z-index: 2;
    }
    
    .flower {
        width: 70px;
    }

    .moon {
        display: none;
    }

    .flowers {
        display: none;
    }

    .flowers-label {
        display: none;
    }

    h2 {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        z-index: 3;
        gap: 20px;
        font-family: 'Edwardian', cursive;
        font-weight: 400;
        font-size: 4.5rem;
        color: var(--main-green-02);
        -webkit-text-stroke: 1px var(--main-green-01);
    }

    h2 > span {
        width: 100%;
        font-family: 'Sinera';
        font-weight: 400;
        font-size: 2.5rem;
        text-align: center;
        background: none;
        color: var(--main-beige-01);
        -webkit-text-stroke: 2px var(--main-brown-01);
    }

    h2 > b {
        font-family: 'Sinera';
        font-weight: 400;
        color: var(--main-brown-01);
        font-size: 4rem;
        -webkit-text-stroke: 2px var(--main-brown-02);
    }

    span {
        background: var(--main-green-02);
        padding: 10px 20px;
    }
}

@media screen and (min-width: 900px) {
    #creativestudio {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        min-height: calc(100dvh + 50px);
        padding-bottom: 50px;
    }
    
    #creativestudio > header {
        h2 {
            font-size: 7rem;

            span {
                font-size: 7rem;
                text-align: left;
            }

            b {
                font-size: 7rem;
            }
        }

        .flower {
            width: 150px;
            transform: translate(-60px, 10px);
        }

        .hand {
            width: 300px;
            top: 0;
            left: 0;
        }

        .moon {
            display: block;
            position: absolute;
            width: 200px;
            top: 50px;
        }

        .flowers {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            width: 600px;
        }

        .flowers-label {
            display: block;
            position: absolute;
            top: 110px;
            right: 240px;
            z-index: 3;
            background: var(--main-green-01);
            padding: 10px;
        }
    }

    #creativestudio .magazine-list {
        padding: 0 15%;
    }
}