#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 100dvh;
    background-image: url("../../../assets/portada.webp");
    background-position: center;
    background-size: cover;
    padding: 0 10px;
}

#home .img-container {
    display: none;
}

#home h1 {
    font-family: 'Sinera';
    font-weight: normal;
    font-size: 55px;
    color: var(--white-01);
    z-index: 2;
    width: max-content;

    span {
        display: block;
        font-family: 'Edwardian';
    }
}

#home .plant {
    display: none;
}

#home .disc {
    display: none;
}

#home .flower {
    display: none;
}


#home > .text {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: justify;
        font-family: "Schoolbell", cursive;
        color: var(--white-01);
        font-size: 1em;
        padding: 20px;
    }

    .Button {
        height: 40px;
        width: 120px;
        font-size: 18px;
    }
}

@media only screen and (min-width: 900px) {
    #home {
        background: var(--main-02);
        margin-top: 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 50px 100px;
    }

    #home h1 {
        color: var(--black-01);
    }

    #home > .text {
        height: 100%;
        justify-content: center;
        padding: 50px;
        p {
            color: #554f46;
        }
    }

    #home .img-container {
        display: block;
        position: relative;
        width: 100%;
        left: -50px;
        aspect-ratio: 1;

        .sarah {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .dog,.pinterest,.coffee {
            position: absolute;
            right: -30px;
            height: 175px;
        }

        .dog {
            width: 175px;
            object-fit: cover;
        }
        
        .pinterest {
            top: 190px;
            width: 175px;
            object-fit: cover;
        }
        
        .coffee {
            top: 420px;
        }
    }

    #home .plant {
        display: block;
        position: absolute;
        transform: rotate(175deg);
        top: -100px;
        left: -70px;
        height: 600px;
    }
    
    #home .disc {
        display: block;
    }
    
    #home .flower {
        display: block;
    }

    #home .line {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 80%;
        height: 5px;
        font-size: 5em;
        background: var(--main-04);
        position: relative;
        margin: auto;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            background: var(--main-04);
            border-radius: 50%;
            position: absolute;
            right: -5px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}