#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 100dvh;
    background-image: url("../../../assets/portada.webp");
    background-position: center;
    background-size: cover;
    padding: 0 10px;
}

#home .img-container {
    display: none;
}

#home h1 {
    font-family: 'Sinera';
    font-weight: normal;
    font-size: 55px;
    color: var(--white-01);
    z-index: 2;
    width: max-content;

    span {
        display: block;
        font-family: 'Edwardian';
    }
}

#home .plant {
    display: none;
}

#home .disc {
    display: none;
}

#home .flower {
    display: none;
}


#home > .text {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        text-align: justify;
        color: var(--white-01);
        padding: 20px;
    }
}

@media only screen and (min-width: 900px) {

    #home {
        background: var(--main-beige-01);
        display: grid;
        grid-template-columns: 1.5fr 1.5fr 1fr;
        margin: 60px;
        height: calc(100dvh - 70px);
    }

    #home h1 {
        color: var(--black-01);
        margin: auto;
        font-size: 5vw;
    }

    #home img {
        margin: auto;
    }

    #home > .text {
        height: 100%;
        margin: auto;
        justify-content: center;
        p {
            color: var(--main-brown-01);
            text-align: justify;
            font-size: 1.2vw;
        }
    }

    #home .img-container {
        display: block;
        position: relative;
        width: 90%;
        left: -50px;
        aspect-ratio: 1;
        margin: auto;


        .sarah {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .dog,.pinterest,.coffee {
            position: absolute;
            right: -30px;
            height: 30%;
        }
        
        .dog {
            object-fit: cover;
            aspect-ratio: 1;
        }
        
        .pinterest {
            top: 40%;
            object-fit: cover;
            aspect-ratio: 1;
        }
        
        .coffee {
            top: 80%;
        }
    }

    #home .plant {
        display: block;
        position: absolute;
        transform: rotate(175deg);
        top: -100px;
        left: -70px;
        height: 600px;
    }
    
    #home .disc {
        display: block;
    }
    
    #home .flower {
        display: block;
    }

    #home .line {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 80%;
        height: 5px;
        font-size: 5em;
        background: var(--main-green-01);
        position: relative;
        margin: auto;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            background: var(--main-green-01);
            border-radius: 50%;
            position: absolute;
            right: -5px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    #home .flower-subscribe {
        display: flex;
        align-items: center;
        justify-content: center;

        .flower {
            position: absolute;
            right: 0px;
            width: 10vw;
        }
    }
}