#mybook {
    background: var(--main-brown-01);
    padding: 20px;

    img {
        display: none;
    }

    h2 {
        color: var(--main-green-01);
        font-size: 6em;
        padding: 40px 0;
        
        &, b {
            font-weight: 400;
            font-family: 'Edwardian', cursive;
        }
    }

    .text {
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: #fff;
        
        h3 {
            color: var(--main-green-01);
        }
    }
}

@media screen and (min-width: 900px) {
    #mybook {
        display: flex;
        flex-direction: row-reverse;
        padding: 100px 10%;
        min-height: calc(100dvh + 50px);
        gap: 100px;

        .text {
            position: relative;
            width: 40%;
            font-size: 1vw;
            color: var(--main-green-02);

            p:last-child {
                padding-left: 15vw;
            }

            .books {
                position: absolute;
                width: 15vw;
                bottom: 0;
                left: -30px;
            }
        }

        
        img {
            display: block;
        }
        
        .images {
            position: relative;
            width: 750px;
            
            h2 {
                position: absolute;
                display: flex;
                left: 150px;
                flex-direction: column;
    
                b {
                    font-family:'Times New Roman', Times, serif;
                    -webkit-text-stroke: 2px var(--main-green-04);
                    padding-left: 100px;
                }
            }
            img {
                position: absolute;
            }

            .sarah-1 {
                width: 150px;
                top: 0;
                left: 0;
            }

            .shadow {
                top: 0;
                left: 0;
                transform: translate(-30%, 0);
            }

            .sarah-2 {
                width: 180px;
                aspect-ratio: 1;
                object-fit: cover;
                left: 20px;
                bottom: 180px;
            }

            .home {
                top: 250px;
                left: 210px;
                width: 100px;
            }

            .desk {
                width: 250px;
                aspect-ratio: 1;
                object-fit: cover;
                left: 330px;
                bottom: 80px;
            }

            .book {
                width: 200px;
                aspect-ratio: 1;
                bottom: 0;
                left: 150px;
            }

            .yellow-flower {
                bottom: 0;
            }

            .butterfly {
                width: 100px;
                top: 470px;
                left: 200px;
            }

            .typewritter {
                bottom: 0;
                left: 470px;
            }

            .pink-flower {
                width: 100px;
                bottom: 40px;
                left: 320px;
            }

            .starfish {
                top: 200px;
                left: 50px;
            }

            .orange-flower {
                width: 25vw;
                right: -50px;
                top: -100px;
            }
        }
    }
}