#mybook {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background: var(--main-brown-01);
}

#mybook .text {
    color: var(--main-white-01);
}

#mybook .book {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#mybook .book-img {
    width: 50%;
    aspect-ratio: 1/1.5;
    background: #fff;
}

@media screen and (min-width: 900px) {
    #mybook {
        flex-wrap: wrap;
        flex-direction: row;
        gap: 50px 0;
        padding: 50px 15%;
    }
    
    #mybook .text {
        width: 50%;
        padding: 20px;
    }
    
    #mybook .book {
        width: 50%;
    }
    
}