.Button {
    padding: 10px 20px;
    border: none;
    min-width: 150px;
    font-size: 1.2em;
    width: max-content;
    background: none;
    cursor: pointer;

    transition: border-radius .5s;
    &:hover {
        border-radius: 4em;
    }
}

.Button.main {
    background: var(--main-green-02);

    &:active {
        background: var(--main-green-03);
    }
}