.Navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--main-color-01);
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

.Navigation div{
    display: flex;
    flex-direction: column;
}

.Navigation .open-close-btn {
    background: none;
    border: none;
    height: 50px;
    padding: 0 20px;
    color: var(--text-color-02);
}

.Navigation div a {
    padding: 20px;
    text-decoration: none;
    color: var(--text-color-02);
}

.Navigation div a:hover {
    color: #fb1;
}

.Navigation .open {
    display: flex;
}

.Navigation .close {
    display: none;
}

@media only screen and (min-width: 800px) {

    .Navigation {
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: max-content;
        padding: 0 50px;
        border-radius: 5em;
    }

    .Navigation .open-close-btn {
        display: none;
    }

    .Navigation div, .Navigation .close {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 50px;
    }

    .Navigation div a {
        display: flex;
        align-items: center;
        height: 50px;
    }
  }