.Navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--main-brown-01);
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

.Navigation div{
    flex-direction: column;
}

.Navigation .open-close-btn {
    background: none;
    border: none;
    height: 50px;
    padding: 0 20px;
    color: var(--main-white-01);
    cursor: pointer;
}

.Navigation div a {
    padding: 20px;
    text-decoration: none;
    color: var(--main-white-01);
}

.Navigation div a:hover {
    color: var(--main-green-01);
}

.Navigation .open {
    display: flex;
}

.Navigation .close {
    display: none;
}

@media only screen and (min-width: 900px) {

    .Navigation {
        position: fixed;
        top: 5px;
        left: 50%;
        transform: translateX(-50%);
        background: var(--main-white-01);
        width: max-content;
        height: 50px;
        padding: 0 50px;
        border-radius: 5em;
        display: flex;
        transition: left 1s;
    }

    .Navigation > div {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: all 1s;

        a {
            color: var(--black-01);
        }
    }

    .Navigation.close {
        left: 20%;
        padding: 0;
    }
    
    .Navigation.open {
        left: 50%;
    }

    .Navigation .open {
        width: 600px;

        a {
            width: max-content;
        }
    }

    .Navigation .close {
        display: block;
        width: 0;

        & > * {
            display: none;
        }

        a {
            width: 0;
        }
    }

    .Navigation .open-close-btn {
        color: var(--black-01);
    }

    .Navigation .open-close-btn:hover {
        color: var(--main-green-02);
    }
  }