.PDFThumbnail {
    aspect-ratio: 1;
    cursor: pointer;

    .rpv-core__viewer {
        border-radius: .5em;
        overflow: hidden;
        border: 2px solid #000;

    }
    
    &:hover .rpv-core__viewer {
        border-color: #49f;
    }

    p {
        padding: 0 10px;
    }
}