.PDFThumbnail {
    aspect-ratio: 1;
    cursor: pointer;

    .rpv-core__viewer {
        overflow: hidden;
    }
    
    &:hover .rpv-core__viewer {
        transform: scale(1.05);
    }

    p {
        padding: 0 10px;
    }
}