.Post {
    border: 1px solid #000;
    padding: 20px;
}

.Post * {
    cursor: pointer;
}

.Post-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.Post-header div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.Post-btns a{
    color: #000;
}

.Post-btns button {
    background: none;
    border: none;
}

.Post-btns a:hover {
    color: #f94;
}

.Post-btns button:hover {
    color: #ff4444;
}


.Post .ql-container.ql-snow {
    border: none;
}

.Post .ql-editor {
    padding: 0;
}

.Post:hover * {
    color: #4460ff !important;
}

.Post:hover {
    border-color: #4451ff;
}