.Post {
    border: 3px solid #000;
    padding: 20px;
}

.Post * {
    cursor: pointer;
}

.Post-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.Post-header div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.Post .ql-container.ql-snow {
    border: none;
}

.Post .ql-editor {
    padding: 0;
}

.Post:hover * {
    color: #fb1 !important;
}

.Post:hover {
    border-color: #fb1;
}