.editor-page {
    padding: 0;
}

.editor-page > header {
    display: flex;
    gap: 5px;
    width: 100%;
    padding: 0 10px;
}

.editor-page > header > input {
    display: flex;
    align-items: center;
    padding: 5px;
    border: none;
    font-size: 1.5em;
    padding: 5px;
}

.editor-page > header > div {
    display: flex;
}

.ql-toolbar.ql-snow {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.ql-toolbar.ql-snow .ql-formats {
    display: flex;
    margin: 0;
    width: max-content;
}

.editor-page .ql-editor {
    min-height: 1122.52px;
    margin-bottom: 100px;
    background: #fff;
}

.editor-page .ql-container {
    background: #eee;
}

@media only screen and (min-width: 900px) {
    .editor-page .ql-container{
        display: flex;
        justify-content: center;
        border: none;
    }

    .editor-page .ql-editor {
        margin-top: 10px;
        border: 1px solid #ccc;
        width: 793.7px;
        padding: 50px;
    }
}
