:root {
  --black-01 : #000;
  --white-01 : #fff;
  --red-01 : #f44;
  --red-02 : #611c1c;
  --red-03 : #fc6666;
  --red-04 : #b88a8a;
  --blue-01 : #49f;
  --blue-02 : #3b82da;
  --green-01 : #4f9;
  --green-02 : #2cc470;
  --yellow-01 : #fcff44;
  --yellow-02 : #d7da34;

  --main-white-01: #fff8f1;
  --main-beige-01: #dfd6bf;
  --main-green-01: #a2b542;
  --main-green-02: #cbd17d;
  --main-green-03: #8e9257;
  --main-green-04: #2e3108;

  --main-brown-01: #554f46;
  --main-brown-02: #3d3933;
}

@font-face {
  font-family: 'TAN - PEARL';
  src: url('./assets/fonts/TAN-PEARL/TAN-PEARL-Regular.woff2') format('woff2'),
      url('./assets/fonts/TAN-PEARL/TAN-PEARL-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sinera';
  src: url('./assets/fonts/Sinera/Sinera.woff2') format('woff2'),
      url('./assets/fonts/Sinera/Sinera.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Edwardian';
  src: url(./assets/fonts/Edwardian/edwardianscriptitc.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Schoolbell", cursive;
}

.error-msg {
  width: 100%;
  text-align: center;
  background: var(--red-03);
  padding: 5px;
  color: var(--white-01);
}

main {
  margin-top: 60px;
}

body {
  background: var(--main-beige-01);
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 70px;
  }
}