:root {
  --main-color-01 : #000000;
  --sec-color-01 : #fff;
  --text-color-01 : #000;
  --text-color-02 : #fff;
  --button-color-01 : #fff;

  --black-01 : #000;
  --black-02 : #fff;
  --white-01 : #fff;
  --white-02 : #000;
  --red-01 : #f44;
  --red-02 : #d13c3c;
  --blue-01 : #49f;
  --blue-02 : #3b82da;
  --green-01 : #4f9;
  --green-02 : #2cc470;
  --yellow-01 : #fcff44;
  --yellow-02 : #d7da34;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 60px;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 70px;
  }
}