:root {
  --main-color-01 : #000000;
  --sec-color-01 : #fff;
  --text-color-01 : #000;
  --text-color-02 : #fff;
  --button-color-01 : #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 60px;
}

@media only screen and (min-width: 600px) {
  main {
    margin-top: 70px;
  }
}