.Navigation {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--main-brown-01);
    font-family: "Schoolbell", cursive;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
}

.Navigation div{
    flex-direction: column;
}

.Navigation .open-close-btn {
    background: none;
    border: none;
    height: 50px;
    padding: 0 20px;
    color: var(--main-white-01);
    cursor: pointer;
}

.Navigation div a {
    padding: 20px;
    text-decoration: none;
    color: var(--main-white-01);
}

.Navigation div a:hover {
    color: var(--main-green-01);
}

.Navigation .open {
    display: flex;
}

.Navigation .close {
    display: none;
}

.Dropdown button {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    text-align: left;
    padding: 20px;
    font-size: 18px;
    border: none;
    background: none;
    color: var(--main-white-01);
    cursor: pointer;
}

.Dropdown div {
    display: flex;
    background: var(--main-brown-02);

    & > a {
        transition: all 1s;
    }
}

.Dropdown .link-container-close {
    padding: 0;
    & > a {
        opacity: 0;
        height: 0;
        font-size: 0;
        padding: 0;
    }
}

@media only screen and (min-width: 900px) {

    .Navigation {
        position: fixed;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background: var(--main-white-01);
        min-width: max-content;
        width: 70%;
        height: 60px;
        padding: 0 50px;
        border-radius: 5em;
        display: flex;
        transition: all 1s;
    }

    .Navigation > div {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        transition: all 1s;

        a {
            color: var(--black-01);
        }
    }

    .Navigation.open {
        left: 20%;
        padding: 0;
        width: max-content;
    }
    
    .Navigation.close {
        left: 50%;
    }

    .Navigation .close {
        width: 100%;
    }

    .Navigation .close {
        display: flex;
        justify-content: space-around;
        font-size: 1.5em;
    }

    .Navigation .open {
        & > * {
            display: none;
        }
    }

    .Navigation .open-close-btn {
        color: var(--black-01);
        height: 100%;

        & > span {
            font-size: 3em;
        }
    }

    .Navigation .open-close-btn:hover {
        color: var(--main-green-02);
    }

    .Dropdown button {
        color: var(--black-01);
        font-size: 1em;
    }

    .Dropdown div {
        position: absolute;
        top: 50px;
        padding-top: 20px;
        background: var(--main-white-01);
        border-radius: 0 0 1em 1em;
        text-align: center;
        min-width: 190px;
    }
  }